.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate( 0.0deg);
  }
  10% {
    transform: rotate(14.0deg);
  }
  20% {
    transform: rotate(-8.0deg);
  }
  30% {
    transform: rotate(14.0deg);
  }
  40% {
    transform: rotate(-4.0deg);
  }
  50% {
    transform: rotate(10.0deg);
  }
  60% {
    transform: rotate( 0.0deg);
  }
  100% {
    transform: rotate( 0.0deg);
  }
}

/* For demonstration purposes only: */

body {
  font-size: 3.5em;
}

h1 {
  font-size: 0.5em;
}

div {
}

.btn:active:focus {
  animation: press 0.1s forwards ease-in-out;
}

@keyframes press {
  from {
    transform: translateY(0px);
    box-shadow: var(--bs-btn-focus-box-shadow);
  }
  to {
    transform: translateY(5px);
    box-shadow: inset 0px 7px rgb(27,0,0);
    background: #431414;
  }
}

@keyframes up {
  0% {
    transform: translateY(5px);
    box-shadow: inset 0px 7px rgb(27,0,0);
  }
  50% {
    box-shadow: initial;
  }
  100% {
    transform: translateY(0px);
    box-shadow: 0px 8px rgb(27,0,0);
  }
}

@keyframes hover {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
    box-shadow: 0px 11px rgb(27,0,0);
  }
  100% {
    transform: translateY(0);
  }
}

.btn:hover {
  animation: hover 1s infinite ease-in-out;
}

.btn:focus:not(:active) {
  animation: up .25s forwards ease-in-out;
}

@keyframes load {
  from {
    transform: scale(0);
  }
  to {
    transform: scaleX(1);
  }
}

.row {
}

.transition-panel {
  transform: scaleX(0);
  animation: load .5s forwards calc(var(--n) * 0.2s);
}

.btn {
  transition: all .5s ease-in-out;
}

.navbar-collapse {
  transition: all .5s ease-in-out;
}

.navbar-toggler.collapsed:hover {
  transform: rotate(-45deg);
  box-shadow: -3px 3px rgb(2,20,30);
}

.navbar-toggler:not(.collapsed):hover {
  transform: rotate(-45deg);
  box-shadow: -3px 3px rgb(2,20,30);
}

@keyframes dial-hover {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(-15deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

.navbar-toggler {
  transition: all .25s;
}

.navbar-toggler:not(.collapsed) {
  transform: rotate(-90deg);
  box-shadow: -6px 0px 0px 0px rgb(2,20,30);
}

.navbar-toggler.collapsed {
  box-shadow: 0px 6px 0px 0px rgb(2,20,30);
}

#icon:hover {
  animation: hover .5s infinite;
}

